
.logo{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 20%;
    margin-right: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
}

.logo img{
    width: 35px;
    height: 30px;
    border: 5px;
    

}

.botoes{
    height: 100%;
    width: 60%;
    margin-right: 30px;
    display: flex;
    align-items: center;
 
    
    
}


.botoes p{
    color: black
}


.botao{
    height: 100%;
    width: 40%;
    border-width: 1;
    text-decoration: none;
}



.Navegador{
    height: 5%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
    border: 2px solid rgb(131, 130, 130);
    border-radius: 25px;
    margin-top: 10px;
    
}

.nomeusuario{
    color: white;


}







